*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #311a44;
}

h1{
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 50px;
    color: #ae93cc;
}
h4{
    padding-top: 20px;
    padding-right: 80px;
    color: #dcccfa;
}
input{
    margin: 3px;
    height: 25px;
    background-color: #96add9;
}
a{
    color: #ba90dd;
}

.signUpForm>h4:nth-of-type(2){
    padding-right: 110px;
}
.signUpForm{
    background-color: #3c2457;
    width: 400px;
    height: 400px;
    margin: 20vh auto;
    text-align: center;
}
.accLogin{
    padding-top: 40px;
    color: #9a7ab3;
}
.createAccBtn{
    padding: 3px 10px;
    color: #96add9;
    background-color: #311a44;
}
.createBtn{
    padding-top: 10px;
}