*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid 1px black;
}

body{
    background-color: grey;
}
.container{
    background-color: lightgreen;
    height: 30rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 0.2rem;
    flex-flow: wrap row-reverse;
    justify-content: space-between;
    align-content: space-around;
}
.box1{
    order: 1;
}
.box2{
    order: 2;
}
.box4{
    flex-grow: 1;
}
.box5{
    flex-basis: 100px;
    flex-shrink: 0;
}
.box6{
    align-self: auto;
}